.item {
  padding: 17px 20px;
  width: 100%;
  height: 176px;
  border: 1px solid #dedede;
  display: flex;
  flex-direction: row;
  background-color: white;
  cursor: pointer;
  margin-top: -1px;
  transition: 100ms all ease-in;
}

.item:hover {
  background-color: rgb(250, 250, 250);
}

p {
  margin: 0;
}

.image {
  max-width: 53%;
  min-width: 53%;
  height: 100%;
  border-radius: 10px;
}

.data_container {
  margin-left: 17px;
}

.type {
  font-size: var(--fontsize-bit-small);
  color: #565656;
}

.name {
  margin: 3px 0 10px 0;
  font-size: var(--fontsize-bit-big);
  font-weight: 700;
  color: #232323;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-top: 9px;
  color: #565656;
  font-size: var(--fontsize-small);
}
