.item {
  width: 23%;
  height: 250px;
  margin: 1%;
  cursor: pointer;
  cursor: pointer;
  transition: all ease-in 0.2s;
  animation: pageAppear 1s;
}

.image_container {
  height: 150px;
}

.image {
  width: 100%;
  height: 150px;
  border-radius: 16px;
}

.text_container {
  padding: 14px 0 0 0;
  height: 100px;
  position: relative;
}

.title {
  margin: 0;
  font-size: var(--fontsize-normal);
  font-weight: 700;
  color: var(--color-light-gray);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-left: 6px;
}

.bottom {
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 12px;
}

.date {
  color: rgb(13, 13, 13);
  font-weight: 600;
  font-size: var(--fontsize-bit-small);
  padding-left: 6px;
}

@media screen and (max-width: 900px) {
  .item {
    width: 32%;
    margin: 0.667%;
  }
}

@media screen and (max-width: 600px) {
  .item {
    width: 48%;
    margin: 1%;
  }
}

@media screen and (max-width: 330px) {
  .item {
    width: 97%;
    height: 220px;
    margin: 1.5%;
  }

  .thumbnail {
    height: 120px;
    border-radius: 8px;
  }

  .data_container {
    padding-top: 8px;
  }
  .title {
    padding-left: 3px;
  }
  .price {
    padding-left: 4px;
  }
}

@media screen and (max-width: 330px) {
  .item {
    width: 97%;
    margin: 10px 1.5%;
  }
}

@keyframes pageAppear {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
