.item {
  width: 95%;
  height: 153px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  padding: 8px;
  cursor: pointer;
}

.image_container {
  width: 45%;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.data_container {
  width: 55%;
  padding: 6px 12px 6px 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.type {
  font-size: var(--fontsize-bit-small);
  color: #565656;
}

.name {
  font-size: var(--fontsize-bit-big);
  font-weight: 700;
}

.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: var(--fontsize-small);
  color: #565656;
}
