.body {
  width: 100%;
  min-height: 100vh;
}
.top_banner {
  display: inline-block;
  width: 100%;
  height: 50vh;
  margin-bottom: 100px;
  background: url("../../background/top_banner.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.title_container {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(0, -50%);
}

.title {
  font-size: 2.7rem;
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin: 0;
}

.subtitle {
  margin: 10px 0 0 0;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main {
  width: 1100px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  padding-bottom: 90px;
}

/* Side Bar menue*/
.sidebar{
  float: left;
  flex-direction: column;
  width: 20%;
  margin-right: 10px;
}
.main_contents{
  flex-direction: column;
}

.main_top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-green);
  width: 100%;
  margin-bottom: 30px;
}

.board_title {
  font-size: var(--fontsize-title);
  font-weight: 700;
  color: var(--color-green);
  margin: 0;
  padding-bottom: 7px;
}

.select_container {
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.select_button {
  margin: 0 19px;
  font-size: var(--fontsize-bit-big);
  font-weight: 500;
  color: #afafaf;
  cursor: pointer;
  padding-bottom: 7px;
  flex: 0 0 auto;
}

.select_button_on {
  font-weight: 700;
  color: var(--color-green);
  border-bottom: 3px solid var(--color-green);
}

.search_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 16px 0;
}

.select {
  width: 60px;
  height: 30px;
  border: 1px solid #a4a4a4;
  border-radius: 6px;
  margin-right: 9px;
  font-size: var(--fontsize-normal);
}

.search_box {
  
  height: 30px;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #a4a4a4;
  border-radius: 7px;
  padding: auto;
}

.search_input {
  border: none;
  outline: none;
  background-color: white;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  animation: pageAppear 1s;
  position: relative;
}
.search_icon_container{
  width: fit-content;
}
.search_icon {
  color: #505050;
  ;
}

.no_article {
  margin: auto;
  margin-top: 30px;
  font-size: var(--fontsize-bit-big);
  font-weight: 700;
  color: #101010;
}

.number_container {
  width: auto;
  margin-top: 36px;
}

.number_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.number_item {
  margin: 0 10px;
  font-size: var(--fontsize-normal);
  color: #525252;
  cursor: pointer;
}

.number_item_on {
  font-weight: 700;
  color: #111111;
}

.arrow_left,
.arrrow_right {
  font-size: var(--fontsize-bit-small);
}

.arrow_left_box {
  margin-right: 10px;
  cursor: pointer;
}

.arrow_right_box {
  margin-left: 10px;
  cursor: pointer;
}

.write_button_container {
  width: 100%;
  text-align: end;
}

.write_button {
  width: 66px;
  height: 30px;
  line-height: 29px;
  outline: none;
  border: none;
  background-color: var(--color-green);
  color: white;
  font-weight: 700;
  font-size: var(--fontsize-bit-small);
  border-radius: 7px;
  margin-right: 25px;
  cursor: pointer;
  transition: 0.2s all ease-in;
}

.write_button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.loading_container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child_container {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--color-light-border);
  position: absolute;
  top: -10px;
  right: 20px;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: appear 0.1s;
}

.child {
  width: 150px;

  background-color: white;
  border-right: 1px solid var(--color-light-border);
}

.child_title {
  font-size: var(--fontsize-normal);
  margin: 0;
  background-color: var(--color-green);
  color: white;
  border-bottom: 1px solid var(--color-light-border);
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

.child_of_child_container {
  width: 100%;
  min-height: 300px;
  padding: 10px 4px;
}

.search_left {
  display: flex;
  flex-shrink: 1;
  width: 80%;
}

.open_child_button {
  width: 100px;
  height: 30px;
  line-height: 20px;
  margin-right: 25px;
  outline: none;
  border: none;
  background-color: var(--color-green);
  color: white;
  font-weight: 700;
  border-radius: 4px;
}

@media screen and (max-width: 1150px) {
  .main {
    width: 800px;
  }
  .board_title {
    font-size: var(--fontsize-mini-title);
  }
  .write_button {
    margin-right: 16px;
  }
  .open_child_button {
    margin-right: 16px;
  }
}

@media screen and (max-width: 850px) {
  .main {
    width: 550px;
  }
  .main_top {
    flex-direction: column;
    align-items: flex-start;
  }

  .select_container {
    width: 100%;
    height: 30px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    margin-top: 16px;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .select_container::-webkit-scrollbar {
    display: none;
  }

  .select_button {
    height: 30px;
    margin-left: 0;
    display: inline-block;
    font-size: var(--fontsize-normal);
  }

  .write_button {
    margin-right: 25px;
  }
  .open_child_button {
    margin-right: 25px;
  }
}

@media screen and (max-width: 600px) {
  .top_banner {
    margin-bottom: 30px;
    height: 300px;
  }
  .main {
    width: 95%;
    padding-bottom: 100px;
  }

  .title_container {
    padding: 30px;
    top: 200px;
    left: 0;
  }

  .title {
    font-size: var(--fontsize-title);
  }

  .subtitle {
    font-size: var(--fontsize-bit-big);
  }

  .board_title {
    margin-bottom: 7px;
  }

  .search_container {
    margin-top: 24px;
    flex-direction: column;
    align-items: flex-start;
  }

  .search_left {
    width: 100%;
  }

  .open_child_button {
    width: 98%;
    height: 37px;
    margin-left: 1%;
    margin-top: 10px;
  }

  .child_container {
    border: none;
    width: 98%;
    right: 50%;
    transform: translateX(50%);
    flex-direction: row;
    animation: none;
  }

  .child {
    width: 50%;
  }

  .child_title {
    width: 100%;
  }

  .child_of_child_container {
    min-height: 0px;
    padding: 0;
  }

  .select {
    width: 20%;
    margin-right: 1.5%;
  }

  .search_box {
    width: 77.5%;
  }

  .board_title {
    font-size: var(--fontsize-mini-title);
  }
  .write_button {
    margin-right: 1%;
  }
  .open_child_button {
    margin-right: 0;
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
