.item {
  height: 254px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.thumbnail {
  width: 100%;
  height: 150px;
  outline: none;
  border-radius: 16px;
  margin: auto;
  padding: 0 !important;
  transition: 150ms all ease;
}

.thumbnail:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.title {
  margin: 0;
  font-size: var(--fontsize-normal);
  font-weight: 700;
  color: var(--color-light-gray);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-left: 6px;
}

.star_container {
  padding: 4px 0 6px 4px;
  display: flex;
  flex-direction: row;
}

.rating_text {
  margin-left: 8px;
  font-weight: 700;
}

.price {
  color: rgb(13, 13, 13);
  font-weight: 600;
  padding-left: 6px;
}

.data_container {
  width: 100%;
  padding: 14px 0 0 0;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

@media screen and (max-width: 1100px) {
  .thumbnail {
    border-radius: 12px;
  }
}

@media screen and (max-width: 800px) {
  .thumbnail {
    border-radius: 8px;
  }
}

@media screen and (max-width: 600px) {
  .thumbnail {
    border-radius: 6px;
  }
}
