.top_banner {
  display: inline-block;
  width: 100%;
  height: 80vh;
  margin-bottom: 70px;
}

.top_filter {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title_container {
  padding: 0 30px;
  text-align: end;
  position: absolute;
  top: 30vh;
  right: calc((100% - 1000px) / 2);
}

.top_title {
  margin: 0;
  color: white;
  font-size: 36px;
  font-weight: 700;
}

.top_subtitle {
  color: white;
  font-size: var(--fontsize-big);
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: var(--fontsize-mini-title);
  font-weight: 700;
}

.search_container {
  position: absolute;
  bottom: 70px;
  left: calc(50% - 500px);
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  padding: 24px 40px 30px 40px;
}

.search_text {
  margin-bottom: 2px;
}

.search_input_date {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_input_date:hover,
.search_input:hover {
  border: 1px solid var(--color-sky-blue);
}

.date_icon {
  margin-right: 10px;
  margin-bottom: 1px;
  color: var(--color-light-black);
  font-size: 15px;
}

.date_picker {
  position: absolute;
  top: 110px;
  left: 0;
  border: 1px solid lightgray;
  visibility: hidden;
  transform: scale(0);
  transition: 100ms all ease;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.date_picker_button {
  width: 100%;
  outline: none;
  border: none;
  background-color: skyblue;
  color: white;
  padding: 10px 0;
  font-size: var(--fontsize-bit-big);
  font-weight: 700;
  cursor: pointer;
}

.on {
  visibility: visible;
  transform: scale(1);
}

.search_input,
.search_input_date {
  width: 220px;
  height: 35px;
  border: 1px solid #999999;
  outline: none;
  border-radius: 5px;
  background-color: white;
  font-weight: 500;
  color: var(--color-black);
  font-size: var(--fontsize-normal);
  padding: 0 6px;
}
.search_input_date {
  width: 400px;
  line-height: 35px;
  padding: 0 12px;
  font-weight: 500;
  color: var(--color-black);
}
.search_icon_container {
  cursor: pointer;
  margin-top: 16px;
}

.search_icon {
  font-size: var(--fontsize-mini-title);
  color: var(--color-light-black);
}

.bottom_part {
  width: 1100px;
  margin: auto;
  margin-bottom: 70px;
}

.title {
  margin-left: 10px;
  margin-bottom: 14px;
  font-size: var(--fontsize-big);
  font-weight: 700;
  color: rgb(72, 72, 72);
}

.intro_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 80px 0 150px 0;
  padding: 0 30px;
}

.intro_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.intro_title {
  font-size: var(--fontsize-big);
  font-weight: 700;
  margin: 15px 0 6px 0;
}

.intro_desc {
  white-space: pre-wrap;
}

.list_title {
  margin-left: 12.5px;
  margin-bottom: 14px;
  font-size: var(--fontsize-big);
  font-weight: 700;
  color: rgb(72, 72, 72);
}

.list_subtitle {
  margin-left: 12.5px;
  margin-bottom: 14px;
  font-size: var(--fontsize-normal);
  font-weight: 700;
  color: rgb(72, 72, 72);
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .top_banner,
  .top_filter {
    height: 100vh;
  }
  .title_container {
    right: 5%;
  }

  .search_container {
    width: 90%;
    flex-direction: column;
    left: 5%;
  }

  .search_input_box,
  .search_input_box_date {
    margin: 16px 0;
    width: 100%;
  }

  .search_input,
  .search_input_date {
    width: 100%;
  }

  .date_picker {
    left: 0;
    top: 100px;
  }
  .bottom_part {
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 80px;
  }
  .search_icon_container {
    background-color: rgba(29, 94, 36, 0.9);
    width: 100%;
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search_icon {
    color: white;
  }

  .date_icon {
    margin-right: 7px;
    color: var(--color-light-black);
    font-size: 13px;
  }
  .list_title {
    font-size: var(--fontsize-big);
    margin-left: 12.5px;
  }
}

@media screen and (max-width: 765px) {
  .top_banner {
    margin-top: 80px;
    height: calc(100vh - 140px);
  }
  .top_filter {
    height: calc(100vh - 140px);
  }

  .title_container {
    padding: 0 15px;
    width: 95%;
    left: 2.5%;
    top: auto;
    bottom: 400px;
  }

  .top_title {
    font-size: var(--fontsize-big);
  }

  .top_subtitle {
    font-size: var(--fontsize-bit-big);
  }

  .search_container {
    padding: 20px;
    left: 5%;
    bottom: 30px;
  }
  .search_input_date,
  .search_input {
    font-size: var(--fontsize-bit-small);
  }
  .title {
    font-size: var(--fontsize-bit-big);
  }

  .title_first {
    margin-left: 0;
    text-align: center;
  }
  .date_picker {
    left: 0;
    top: 100px;
  }
  .intro_container {
    flex-direction: column;
  }
  .intro_item {
    margin-bottom: 40px;
  }

  .knowhow_container {
    padding: 0 4px;
  }
}
