.top_banner {
  display: inline-block;
  width: 100%;
  height: 80vh;
  margin-bottom: 70px;
  background: url("https://public.travelforest.co.kr/image/jeju/1900jeju.jpg");
  background-size: cover;
  background-position: center;
}

.top_filter {
  padding-top: 20vh;
  width: 100%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title,
.title_two,
.subtitle {
  margin: 0;
  color: white;
}

.title,
.title_two {
  font-size: 42px;
  font-weight: 700;
}

.title_two {
  margin: 6px 0;
}

.subtitle {
  margin-top: 40px;
  margin-bottom: 70px;
  font-size: var(--fontsize-mini-title);
  font-weight: 700;
}

.search_container {
  width: 650px;
  height: 55px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  padding: 0 14px;
}

.search_input {
  border: none;
  outline: none;
  font-size: var(--fontsize-big);
  color: var(--color-light-black);
  padding-top: 4px;
  padding-left: 4px;
  font-weight: 600;
  width: 95%;
}

.search_icon_container {
  cursor: pointer;
}

.search_icon {
  font-size: var(--fontsize-mini-title);
  color: var(--color-light-black);
}

.tag_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 14px;
}

.list_part {
  width: 1100px;
  margin: auto;
}

.list_title {
  margin-left: 12.5px;
  margin-bottom: 14px;
  font-size: var(--fontsize-big);
  font-weight: 700;
  color: rgb(72, 72, 72);
}

@media screen and (max-width: 1050px) {
  .top_filter {
    padding-top: 20vh;
  }
  .title,
  .title_two {
    font-size: var(--fontsize-title);
  }

  .subtitle {
    width: 80%;
    font-size: var(--fontsize-big);
    text-align: center;
  }

  .search_and_tag_container {
    width: 90%;
  }

  .search_container {
    width: 100%;
    height: 45px;
    margin: auto;
  }

  .search_input {
    width: 90%;
    font-size: var(--fontsize-normal);
  }

  .list_title {
    font-size: var(--fontsize-big);
    margin-left: 20px;
  }
  .list_part {
    width: 100%;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .title,
  .title_two {
    font-size: var(--fontsize-big);
  }

  .subtitle {
    width: 80%;
    font-size: var(--fontsize-normal);
    text-align: center;
    margin: 20px 0;
  }

  .list_part {
    overflow: hidden;
  }
}
