.item {
  width: 100%;

  margin-bottom: 25px;
}
.main {
  height: 250px;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.36);
  position: relative;
}

.main_on {
  border-radius: 14px 14px 0 0;
}

.main:after {
  content: "즉시 확정";
  position: absolute;
  top: 15px;
  left: -5px;
  background-color: #3c9413;
  padding: 6px 24px;
  color: white;
  font-weight: 700;
  border-radius: 8px;
}

.image {
  width: 40%;
  border-radius: 12px 0 0 12px;
}

.image_on {
  border-radius: 12px 0 0 0;
}

.data_container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title_and_price {
  height: 203px;
  padding: 15px 24px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--fontsize-big);
  font-weight: 700;
}

.button_container {
  height: 47px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.button_container_on {
  border-radius: 0;
}

.button_view {
  width: 73.7%;
  outline: none;
  border: none;
  background-color: #d7d7d7;
  cursor: pointer;
  font-size: var(--fontsize-bit-big);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button_text {
  margin-right: 6px;
}
.icon {
  font-size: var(--fontsize-bit-small);
}

.button {
  width: 26.4%;
  outline: none;
  background-color: #5e5e5e;
  border: none;
  border-radius: 0 0 12px 0;
  cursor: pointer;
  font-size: var(--fontsize-bit-big);
  font-weight: 700;
  color: white;
}

.button_on {
  border-radius: 0 !important;
}

.price_container {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

.price_box {
  width: 150px;
  display: flex;
  flex-direction: row;
  font-size: var(--fontsize-bit-big);
  margin-right: 36px;
}

.price {
  font-weight: 500;
  margin-left: 10px;
}

.option_detail_container {
  background-color: white;
  border-radius: 0 0 14px 14px;
  border: 1px solid #d7d7d7;
}

.option_detail_container_info {
  background-color: white;
  border-radius: 0 0 14px 14px;
  border: 1px solid #d7d7d7;
  padding: 13px 30px;
}

.menu_list {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
  padding-left: 10px;
}

.menu_item {
  padding: 8px 10px;
  margin-right: 20px;
  font-size: var(--fontsize-bit-big);
  font-weight: 500;
  color: #101010;
  cursor: pointer;
}

.menu_item_on {
  border-bottom: 2px solid #3a3a3a;
}

.detail_main {
  padding: 20px 0;
  height: 250px;
  white-space: pre-wrap;
  overflow-y: scroll;
}

.option_detail_content {
  padding: 38px 17px 44px 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.option_detail_title {
  margin-bottom: 2px;
  margin-left: 2px;
  font-size: var(--fontsize-bit-big);
  color: #1c1c1c;
}

.date_and_number_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 77%;
}

.final_price_container {
  width: 20%;
  text-align: end;
}

.final_price_title {
  font-size: var(--fontsize-bit-big);
  font-weight: 700;
  color: #202020;
}

.final_price {
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--color-green);
}

.date {
  width: 50%;
}

.number {
  width: 20%;
}

.date_select,
.select {
  border: 1px solid #959595;
  border-radius: 7px;
  height: 37px;
  font-size: var(--fontsize-bit-big);
  font-weight: 700;
  color: #101010;
}

.date_select {
  width: 100%;
  cursor: pointer;
  padding: 0 6px;
  line-height: 35px;
}

.select {
  width: 100%;
  padding: 0 4px;
}

.date,
.number {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.option_detail_bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button_close {
  width: 65%;
  height: 47px;
  line-height: 47px;
  outline: none;
  border: none;
  background-color: #d7d7d7;
  font-size: var(--fontsize-bit-big);
  color: #292929;
  font-weight: 500;
  border-radius: 0 0 0 12px;
  padding: 0;
}

.button_purchase {
  width: 35%;
  height: 47px;
  line-height: 47px;
  outline: none;
  border: none;
  background-color: var(--color-green);
  font-size: var(--fontsize-big);
  font-weight: 700;
  color: white;
  border-radius: 0 0 12px 0;
  padding: 0;
  cursor: pointer;
}

.date_select {
  position: relative;
}

.date_picker {
  background-color: white;
  position: absolute;
  top: 37px;
  border: 1px solid var(--color-light-border);
  visibility: hidden;
  transform: scale(0);
  transition: 100ms all ease;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.on {
  visibility: visible;
  transform: scale(1);
}

.date_picker_button {
  width: 100%;
  outline: none;
  border: none;
  background-color: skyblue;
  color: white;
  padding: 10px 0;
  font-size: var(--fontsize-bit-big);
  font-weight: 700;
  cursor: pointer;
}

.up_icon {
  margin-left: 5px;
  font-size: var(--fontsize-bit-small);
}

.button_close {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    height: auto;
  }

  .item {
    margin-bottom: 40px;
  }

  .image {
    border-radius: 12px 12px 0 0;
    width: 100%;
  }

  .data_container {
    width: 100%;
  }

  .title_and_price {
    padding: 12px 16px;
    height: auto;
  }

  .title {
    font-size: var(--fontsize-bit-big);
  }

  .price_box {
    font-size: var(--fontsize-normal);
  }

  .price_container {
    flex-direction: column;
  }
  .price_box {
    margin-bottom: 10px;
  }
  .button_container {
    width: 100%;
  }
  .button_view {
    width: 60%;
    font-size: var(--fontsize-bit-small);
    border-radius: 0 0 0 12px;
  }
  .button {
    width: 40%;
  }
  .option_detail_content {
    flex-direction: column;
    padding: 30px 20px;
  }

  .date_and_number_container {
    width: 100%;
    flex-direction: column;
  }

  .date,
  .number {
    width: 100%;
    margin-bottom: 16px;
  }

  .option_detail_container_info {
    padding: 10px;
  }

  .option_detail_title {
    font-size: var(--fontsize-normal);
    margin-bottom: 4px;
  }

  .final_price_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .final_price_title {
    font-size: var(--fontsize-normal);
  }

  .final_price {
    font-size: var(--fontsize-mini-title);
  }

  .price_title {
    font-weight: 500;
  }
  .price {
    font-weight: 700;
    color: var(--color-green);
  }

  .menu_list {
    padding: 0;
  }

  .menu_item {
    white-space: nowrap;
    font-size: var(--fontsize-bit-small);
    font-weight: 700;
    margin: auto;
    padding: 8px 0;
  }

  .detail_main {
    font-size: var(--fontsize-small);
    padding: 20px 6px;
  }

  .date_picker {
    left: -22px;
  }
}
