.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  border-bottom: 1px solid var(--color-light-border);
  cursor: default;
  z-index: 100 !important;
  overflow-x: hidden;
  transition: 150ms all ease;
  white-space: nowrap;
  height: 100px;
}

.header_on {
  background-color: transparent;
  border-bottom: none;
}
.body_on {
  visibility: hidden;

}
.body {
  margin: auto;
  width: 1000px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo_container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
}

.logo {
  padding-top: 6px;
  width: 175px;
  cursor: pointer;
}

.navbar {
  width: 540px;
}

.menu_list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu_item {
  height: 100px;
  line-height: 116px;
  /*font-size: var(--fontsize-normal);*/
  font-size: var(--fontsize-bit-big);
  padding: 0 15px;
  margin: 0 15px;
  text-align: center;
  font-weight: 500;
  color: #0e0e0e;
  cursor: pointer;
}

.menu_item:hover {
  border-bottom: 3px solid var(--color-sky-blue);
}

.sub_button_container {
  width: 230px;
}

.sub_button_list {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

.sub_button_item {
  min-width: 60px;
  margin: 0 5px;
  font-size: var(--fontsize-bit-small);
  text-align: center;
  color: #0e0e0e;
  cursor: pointer;
}

.close {
  display: none;
}
