.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  border-bottom: 1px solid var(--color-light-border);
  cursor: default;
  z-index: 100 !important;
  overflow-x: hidden;
  transition: 150ms all ease;
  white-space: nowrap;
}

.header_on {
  background-color: transparent;
  border-bottom: none;
}

.body {
  margin: auto;
  width: 1000px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo_container {
  width: 230px;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.navbar {
  width: 540px;
}

.menu_list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu_item {
  height: 100px;
  line-height: 116px;
  min-width: 70px;
  margin: 0 15px;
  text-align: center;
  font-weight: 500;
  color: var(--color-light-black);
  cursor: pointer;
}

.menu_item:hover {
  border-bottom: 3px solid var(--color-sky-blue);
}

.sub_button_container {
  width: 230px;
}

.sub_button_list {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

.sub_button_item {
  min-width: 60px;
  margin: 0 5px;
  font-size: var(--fontsize-bit-small);
  text-align: center;
  color: var(--color-desc);
  cursor: pointer;
}

.close {
  display: none;
}

@media screen and (max-width: 1050px) {
  .header {
    transition: 200ms all ease-in;
  }

  .body {
    width: auto;
    height: auto;
    flex-direction: column;
  }

  .logo_container {
    width: auto;
    height: 80px;
    display: flex;
    align-items: center;
  }

  .menu_list {
    flex-direction: column;
    margin: 30px 0;
    padding: 14px 0;
  }
  .menu_item {
    height: 45px;
    line-height: 45px;
    margin: 10px 0;
  }
  .close {
    display: block;
    font-size: 24px;
    position: absolute;
    top: 28px;
    right: 20px;
    cursor: pointer;
  }
  .off {
    display: none;
  }

  .menu_list {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .sub_button_container {
    padding-bottom: 30px;
  }
}
