.article_slick_container {
  width: 100%;
  height: 430px;
  margin: auto;
  margin-bottom: 80px;
}

.article_slick_container .slick-slider,
.article_slick_container .slick-list,
.article_slick_container .slick-track {
  width: 100%;
  height: 430px;
}

.article_slick_container .item {
  outline: none;
  height: 400px;
  border-radius: 10px;
  border: 1px solid rgb(215, 214, 214);
  cursor: pointer;
  transition: 150ms all ease;
}

.article_slick_container .item:hover {
  box-shadow: 2px 2px 4px lightgray;
}

.article_slick_container .thumbnail {
  width: 100%;
  height: 262px;
  outline: none;
  border-radius: 8px 8px 0 0;
  margin: auto;
}

.article_slick_container .title {
  font-size: var(--fontsize-big);
  font-weight: 700;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.article_slick_container .desc {
  font-size: var(--fontsize-normal);
  color: #525252;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.article_slick_container .comment {
  position: absolute;
  bottom: 15px;
  right: 16px;
  font-weight: 500;
}

.article_slick_container .data_container {
  width: 100%;
  height: 138px;
  padding: 12px 16px;
  position: relative;
}

.article_slick_container .slick-slide {
  padding: 0 5px;
}

@media screen and (max-width: 765px) {
  .article_slick_container {
    height: 330px;
  }
  .article_slick_container .slick-slider,
  .article_slick_container .slick-list,
  .article_slick_container .slick-track {
    transform: translateX(-16px);
    width: 100vw;
    overflow: hidden;
  }
  .article_slick_container .slick-slide {
    padding: 0 12.5px;
  }
}
