.footer {
  width: 100%;
  height: 350px;
  background-color: rgb(70, 70, 70);
  white-space: nowrap;
}

.top {
  width: 100%;
  height: 70px;
  background-color: rgb(87, 87, 87);
}

.top_menu {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.top_menu > li {
  margin: 0 22px;
  font-size: var(--fontsize-normal);
  font-weight: 500;
  cursor: pointer;
}

.logo {
  width: 130px;
  margin-bottom: 8px;
  cursor: default;
}

.bottom {
  padding: 30px 0;
  background-color: rgb(70, 70, 70);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fontsize-bit-small);
  color: white;
}

.sns_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.sns_container > a {
  margin: 0 30px;
}

.sns_icon {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  cursor: pointer;
}

.text {

  margin-top: 8px;

}

.text_two {
  margin-top: 20px;
}

.right {
  margin-top: 20px;
  font-weight: 700;
}
.contact_container {
  width: 60%;
  display: flex;
  flex-direction: row;

  align-items: center;
}
.contact_info1{
  flex: 2;
  flex-direction: column;
  justify-content: flex-end;
}
.text1 {
  margin-top: 8px;
  text-align: left;

}
.contact_info2{
  flex: 2;
  flex-direction: column;
}
.text2 {
  margin-top: 3px;
  text-align: left;
}
.contact_space{
  flex:1;
}
/* THESE ARE PREVIOUS CODE justincase - remove when it is published
          <p className={styles.text}>
            대표: 김신철 사업자등록번호: 822-87-00041 [확인] | 관광사업등록: 제
            2016-000007호 | 통신판매업신고: 제 2016-서울마포-0343호 [확인]
          </p>
          <p className={styles.text}>
            서울특별시 마포구 서강로9길 48, 4층 | Tel: +82-2-6053-7272~3 | Fax:
            +82-2-6053-7270 | Email: info@travelforest.co.kr | 10:00 am ~ 17:00 pm
            (Mon~Fri)
          </p>
*/

@media screen and (max-width: 970px) {
  .top {
    display: none;
  }

  .footer {
    white-space: normal;
  }

  .sns_icon {
    margin: 0 20px;
  }

  .bottom {
    padding: 0 20px;
    height: 100%;
    justify-content: center;
    font-size: var(--fontsize-small);
  }
}

