.item {
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid #c7c7c7;
}

.name_and_rate {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-size: var(--fontsize-normal);
  color: #525252;
}

.rate_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rate_text {
  margin-left: 10px;
  font-size: var(--fontsize-bit-big);
  font-weight: 700;
  color: #0b0b0b;
}

.content {
  font-size: var(--fontsize-normal);
  color: #525252;
  margin-top: 12px;
}

@media screen and (max-width: 768px) {
  .rate_text {
    font-size: var(--fontsize-normal);
  }

  .name,
  .content {
    font-size: var(--fontsize-bit-small);
  }
}
