.side_bar {
  width: 32%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 99;

  box-shadow: 0 10px 10px lightgray;
  background-color: white;
}

.list {
  height: calc(100vh - 164px);
  overflow-y: scroll;
}

.search_container {
  width: 100%;
  background-color: rgb(252, 252, 252);
}

.input_container {
  width: 100%;
  height: 64px;
  border: 1px solid var(--color-light-border);
  padding: 0 12px 0 8px;
  font-size: var(--fontsize-normal);
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 90%;
  height: 45px;
  outline: none;
  border: none;
}

.icon {
  font-size: var(--fontsize-mini-title);
  color: var(--color-sky-blue);
}

.map {
  width: 100%;
  height: 100vh;
}

.filter {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1050px) {
  .side_bar {
    width: 100vw;
    height: 45vh;
    top: 65vh;
  }
  .input_container {
    height: 55px;
  }
  .list {
    height: auto;
    padding-bottom: 100px;
  }
}
