.body {
  width: 100%;
  height: 100vh;
  overflow: hidden !important;
}
.side_bar {
  width: 409px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 99;
  background-color: white;
}

.list {
  height: calc(100vh - 164px);
  overflow-y: scroll;
}

.search_container {
  width: 100%;

  border: 1px solid var(--color-light-border);
  border-bottom: 2px solid #dedede;
  padding: 15px 20px;
}

.input_container {
  width: 100%;
  height: 39px;
  border: 2px solid #044c0c;
  border-radius: 5px;
  padding: 11px 12px 11px 8px;

  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 90%;
  outline: none;
  border: none;
  font-size: var(--fontsize-bit-big);
}

.icon {
  font-size: var(--fontsize-big);
  color: #044c0c;
}

.map {
  width: 100%;
  height: 100vh;
  position: fixed !important;
  top: 0;
  left: 0;
  overflow: hidden !important;
}

.filter {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1050px) {
  .side_bar {
    width: 100vw;
    height: 41vh;
    top: calc(59vh - 49px);
  }
  .input_container {
    height: 55px;
  }
  .list {
    height: auto;
    padding-bottom: 100px;
  }
  .search_container {
    height: 50px;
    padding: 0;
    border: none;
  }
  .input_container {
    height: 100%;
    border-radius: 0;
    border-width: 1px;
  }
}
